body {
    font-family: "Comic Sans MS";
    font-size: large;
    width: 60%;
    margin: auto;
}

@media screen and (width <= 800px) {
    body {
        width: 90%;
    }
}

#header p{
    line-break: anywhere;
}

#wordles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    
}

.wordle {
    padding: 3px;
    border: black 1px solid;
}

.wordle-row {
    display: flex;
    justify-content: space-around;
}

.wordle-char {
    color: #ffffff;
    width: 25px;
    height: 25px;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    border: black 1px solid;
}

.char-y {
    background-color: #dddd00;
}

.char-g {
    background-color: #00cc00;
}

.char-b {
    background-color: #707070;
}

.wordle-expand {
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    margin: 1px;
    text-align: center;
    border: black 1px solid;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 3px 1px 3px 1px;
    padding: 0;
}
