body {
    font-family: "Comic Sans MS";
    font-size: large;
    width: 60%;
    margin: auto;

    background-color: #121212;
    color: #e0e0e0;
}

@media screen and (width <=800px) {
    body {
        width: 90%;
    }
}

#header p {
    line-break: anywhere;
}

#wordles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.wordle {
    padding: 6px;
    border: 1px solid #636363;
    background-color: #1e1e1e;
}

.wordle-row {
    display: flex;
    justify-content: space-around;
}

.wordle-char {
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.char-g {
    background-color: #2d7c31;
}

.char-y {
    background-color: #ffc531;
    color: #000000;
}

.char-b {
    background-color: #2c2c2c;
}

.current .char-b {
    background: none;
    border: 1px #666666 solid;
}

.empty .char-b {
    background: none;
    border: 1px #313131 solid;
}

.wordle-expand {
    width: 100%;
    border-radius: 0px;
    background: none;
    color: white;

    border: 2px #666666 solid;
    transition: background-color 150ms;
}

.wordle-expand:hover {
    background-color: #666666;
}